.categoryContainer {
  text-align: center;

  .categoryTitleContainer {
    margin-bottom: 25px;

    .categoryTitle {
      font-size: 28px;
      text-transform: uppercase;
    }
  }

  .categoryProductsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }
}
